*{
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f9f9;
}

.main{
    height: 100vh;
    margin-top: 2.8rem;
}

h1{
    color: #222;
}
